# NÃO faça commit deste arquivo com credenciais reais.
# No Streamlit Community Cloud, copie o conteúdo real para:
# App > Settings > Secrets

[google_sheets]
spreadsheet_id = "COLE_AQUI_O_ID_DA_PLANILHA"
worksheet = "RESPOSTAS_ESPECIALISTAS"

[gcp_service_account]
type = "service_account"
project_id = "seu-projeto"
private_key_id = "..."
private_key = """-----BEGIN PRIVATE KEY-----
COLE_AQUI_A_CHAVE_PRIVADA
-----END PRIVATE KEY-----
"""
client_email = "sua-conta-de-servico@seu-projeto.iam.gserviceaccount.com"
client_id = "..."
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "..."
universe_domain = "googleapis.com"
